<div id='indexDrieRegels'>
  <ul>
    <li>zelf jouw lastige sommen intypen en laten uitleggen</li>
    <li>de sommenfabriek maakt oefeningen speciaal voor jou</li>
    <li>bij elke som stap voor stap uitleg</li>
  </ul>
</div>